
body {
    background-color: rgb(226, 226, 226);
}

.info-box {
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
    border-radius: 35px;
    background-color: rgba(237, 237, 237, 0.5);
}