
body {
    background-color: rgb(189, 188, 188);
}

.info-box {
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.5);
}